extend includes/layout

block content
	.container
		.row
			.col-md-8
				h2 Jadestrappin'
				p Bootstrap 3 Sass Official + Jade w/ Gulpjs.
					span.glyphicon.glyphicon-thumbs-up
				hr
				h3 Getting Started
				p Install some components.
				pre
					code npm install;
				p Run local gulpjs.
				pre
					code npm start;
				hr
				p.alert.alert-warning If you would like to run onetime, change 'postinstall' command in package.json.
			.col-md-4
				h3 Hello World
				p.lead Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
				button.btn.btn-success Sample Button